{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<head>
    <style>
        img{ max-width : 100%; }
        .reviewbox{border:1px solid black;}
    </style>
</head>

<body>

<div class="card mb-4 shadow-sm">
    <img class="card-img-top" src="{{data.photo.url}}" alt ="사진">   
    <div class="card-body">
        <h3>{{data.title}}</h3><br>
        <div style="text-align:center;">
        <p>주소: {{data.address}}</p>
        <p>특별 주소: {{data.specialaddress}}</p>
        <p>영업 시간: {{data.time}}</p>
        <p>메뉴명: {{data.menu}}</p>
        <p>가격: {{data.price}}{{data.priceChar}}</p>
        <P>{{data.comment}}</p>
        <p>{{data.hashtag}}</p>
        <p>{{data.category}}</p>
        </div>
    </div>
</div>

<h1>리뷰를 남겨주세요. </h1>

<form method = "POST" enctype = "multipart/form-data">
    {% csrf_token %}
    <table>
    {{reviewform.as_table}}
    </table>
    <br>
    <input type = "submit" value = "리뷰 제출">
</form>    


{% for reviews in posts %}
    <div class="reviewbox">
    <table>
        <tr>
            <td>{{reviews.author}}</td>
        </tr>
        <tr>
            <td><img src = "{{reviews.image.url}}" alt = "리뷰 사진"></td>
        </tr>
        <tr>
            <td>{{reviews.title}}</td>
        </tr>
        <tr>
            <td>{{reviews.body}}</td>
        </tr>
    </table>
    </div>
    <br>
{% endfor %}


{% if posts.has_previous %}
<a href="?page=1">First</a>
<a href="?page={{posts.previous_page_number}}">Previous</a>
{% endif %}

<span>{{posts.number}}</span>
<span>of</span>
<span>{{posts.paginator.num_pages}}</span>

{% if posts.has_next %}
<a href="?page={{posts.next_page_number}}">Next</a>
<a href="?page={{posts.paginator.num_pages}}">Last</a>
{% endif %}

</div>
</body>
{% endblock %}